#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}


#page-teacher-list button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#page-teacher-list button:hover {
  background: var(--color-secundary-dark);
}

@media (max-width: 600px) {
  #search-teachers {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
      "subject time"
      "week_day button"
    ;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
  }


  #page-teacher-list .select-block, 
  #page-teacher-list .input-block {
    margin-top: 0;
  }
  
  #page-teacher-list button {
    grid-area: button;
  }


  #subject {
    grid-area: subject;
  }

  #week_day {
    grid-area: week_day;
  }

  #time {
    grid-area: time;
  }
}

@media (min-width: 600px) {
  #page-teacher-list {
    max-width: 100vw;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
  }


  #search-teachers .input-block + .input-block,
  #search-teachers .select-block + .select-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }

}

